<main>
    <section class="form-section">
        <img width="182" height=""src="/assets/svg/logo.png"/>
        <h2> {{title}} </h2>
        <ng-content></ng-content>

        <div class="btn-wrapper">
            <button class="btn-primary"> {{primaryBtnText}} </button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>                
            </div>
            <button class="btn-secondary"> {{secondaryBtnText}} </button>
        </div>
    </section>
    <section class="main-section">  
        <h1> IA-First</h1>      
        <img src="/assets/svg/main-illustration2.png"/>        
    </section>
</main>